#navbar-container {
  background-color: blue;
  overflow: hidden;
  float: left;
  width: 100%;
}

#navbar-container ul {
  float: left;
  position: relative;
  margin: 0;
  padding: 0;
  left: 50%;
  display: block;
  text-decoration: underline overline;  
  list-style-type: none;
}

#navbar-container ul li {
  background-color: #000;
  float: left;
  position: relative;
  right: 50%;

}

#navbar-container ul li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
}