#navbar-container {
  float: left;
  background-color: blue;
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

#navbar-container ul {
  float: left;
  width: 100%;
  position: relative;
  display: block;
  right: 50%;
  text-decoration: none;
  background-color: #000;
}

#navbar-container ul li {
  list-style-type: none;
  position: relative;
  left: 50%;
  float: left;
  display: block;
  padding: 10px 20px;
  text-decoration: underline overline;  
  color: #fff;
} 
